/* gallery.scss */ 
/* --------------- All --------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------- Layout --------------- */

.gallery {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 300px 300px 300px;
    text-align: center;
}

.friday-embed-container {
    position: relative;
    margin-top: 25px;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.friday-embed-container iframe,
.friday-embed-container object,
.friday-embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
.gallery-box {
    border: 2px dotted purple;
}


/* --------------- Responsiveness --------------- */

@media only screen and (max-width: 600px) {
    .gallery {
        display: grid;
        grid-template-columns: 320px;
        text-align: center;
    }

    .friday-embed-container {
        width: 320px;
    }
}
