
@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';
@import 'content';
@import 'technologies';
@import 'gallery';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

/* Font loading from google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Oswald:wght@300&display=swap');

* {
    font-family: 'Oswald', sans-serif;
}

h1,
h2 {
    display: flex;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    text-align: center;
}

h3,
h4,
h5,
h6 {
    display: flex;
    font-family: 'Oswald', sans-serif;
    align-content: center;
}

.header,
.footer {
    background-color: $background-color;
    background-image: repeating-linear-gradient(-26deg, rgba(255, 255, 255, 0.163), rgba(255, 255, 255, 0.182) 2px, transparent 2px, transparent 5px);
    background-size: 6px 8px;
}

.site-title-link {
    display: flex;
    align-content: center;
}

.site-header .logo {
    animation: jump 6s;
}

@keyframes jump {
    0% {transform: translate(-100px);}
    20% {transform: translate(1px);}
    40% {transform: translate(10px);}
    60% {transform: translate(30px);}
    80% {transform: translate(-10px);}
    100% {transform: translate(1px);}
}

.site-header .logo:hover {
    animation: wiggle 3s;
}

@keyframes wiggle {
    0% {transform: translate(1px, 1px) rotate(0deg);}
    40% {transform: translate(1px, -1px) rotate(1deg);}
    50% {transform: translate(-1px, 2px) rotate(-1deg);}
    60% {transform: translate(-3px, 1px) rotate(0deg);}
    70% {transform: translate(3px, 1px) rotate(-1deg);}
    80% {transform: translate(-1px, -1px) rotate(1deg);}
    90% {transform: translate(1px, 2px) rotate(0deg);}
    100% {transform: translate(1px, -2px) rotate(-1deg);}
}

body {
    background-color: $background-alternative-color;
}

* {
    color: $font-color;
}
