
@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';
@import 'content';
@import 'technologies';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

/* Font loading from google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Oswald:wght@300&display=swap');

* {
    font-family: 'Oswald', sans-serif;
}

h1,
h2 {
    font-family: 'Amatic SC', cursive;
}

h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: $background-alternative-color;
}

* {
    color: $font-color;
}

  
