/* technologies.scss */ 
/* --------------- All --------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid { display: grid; }

/* --------------- Layout --------------- */

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    grid-template-columns: 200px auto;
    grid-template-rows: 100px 400px 100px;
}

/* --------------- Landing page  --------------- */

.main-tech {
    display: grid;
    grid-column: 2 / 2;
    grid-row: 2 / 3;
    grid-gap: 25px;
    grid-template-areas: 'top-left top-right' 'bottom bottom';
    grid-template-columns: 150px 1fr;
    text-align: center;
}

.bottom { grid-area: bottom; }
.top-left { grid-area: top-left; }
.top-right { grid-area: top-right; }


/* --------------- Content --------------- */

.technologies-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.technology-box {
    flex: 33.33%;
}

.technologies-box h2 {
    flex: 100%;
}

/* --------------- Side-bar --------------- */

.side-bar {
    order: 1;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

/* --------------- Responsiveness --------------- */

@media only screen and (max-width: 600px) {
    .main-tech {
        display: flex;
        flex-direction: column;
    }
    
    .main-tech div {
        flex-direction: column;
    }

    .main-tech div div {
        display: flex;
        flex-direction: column;
    }

    .main {
        display: flex;
        flex-direction: column;
    }
    
    .main div {
        flex-direction: column;
    }

    .main div div {
        display: flex;
        flex-direction: column;
    }

    .side-bar {
        display: none;
    }

}


