
$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #3b6c86;
$background-alternative-color: #9facb3;

$font-dark-mode: #827468;
$background-dark-mode: #3e3833;
$header-background-dark-mode: #292119;
